name: "autobuild"
on:
  #schedule:
    #- cron: '0 17 * * *'
  repository_dispatch:
  workflow_dispatch:

env:
  TZ: Asia/Shanghai
  PREFER_DOCKER: yes
jobs:
  build-armbian:
    runs-on: ubuntu-latest
    steps:
      - name: Change owner to runner
        run: |
          sudo chown -R runner:runner /mnt
          mkdir -p $GITHUB_WORKSPACE
          sudo mount --bind /mnt $GITHUB_WORKSPACE
        working-directory: /  # 强制在根目录执行

      - uses: robinZhao/tpm312-build@main
        with:
          armbian_token: "${{secrets.GITHUB_TOKEN }}"  # GitHub token
          armbian_release: "jammy"                        # userspace
          armbian_target: "build"                        # build=image, kernel=kernel
          armbian_board: "tpm312"                   # build target
          armbian_ui: "gnome"
          armbian_kernel_branch: "current"
          build_type: "nightly"
